@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap&font-display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

/* .light {
  --background: 165, 216, 255;
  --border: 212, 212, 212;
  --card: 255, 255, 255;
  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0;
  --border: 38, 38, 38;
  --card: 23, 23, 23;
  background: rgba(var(--background));
}

.red {
  --background: 254, 202, 202;
  --border: 185, 28, 28;
  --card: 239, 68, 68;
  background: rgba(var(--background));
} */

.light {
  --background: #ffffff;
  --sub-background: #2e7ecf;
  --hover-background: #92caff26;
  --text: #000000;
  --full-color: #2e7ecf;
  --left-bubble: #fffadc;
  --right-bubble: #e3fee0;
  --text-opposite: #ffffff;
}

.dark {
  --background: #212121;
  --sub-background: #2f2e2e;
  --hover-background: #6a728226;
  --text: #ffffff;
  --full-color: #c7596f;
  --left-bubble: #3b2643;
  --right-bubble: #c7596f;
  --text-opposite: #000000;
}

.midnight {
  --background: #160430;
  --sub-background: #300e5f;
  --hover-background: #a15fff26;
  --text: #ffffff;
  --full-color: #8774e1;
  --left-bubble: #15283a;
  --right-bubble: #8774e1;
  --text-opposite: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-hover-background: var(--hover-background);
  --color-text: var(--text);
  --color-full-color: var(--full-color);
  --color-left-bubble: var(--left-bubble);
  --color-right-bubble: var(--right-bubble);
  --color-text-opposite: var(--text-opposite);

  --breakpoint-sm: 23.4375rem; /* 375px */
  --breakpoint-custom-md: 35.75rem; /* 572px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */

  --color-dark_purple: #160430;
  --color-normal_purple: #240b48;
}

/* Change scrollbar background and thumb */
::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color you want */
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6); /* thumb color */
  border-radius: 10px;
}

/* Hide scrollbar by default, show on hover */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 5px;
}
.hide-chat-input-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.chat-left-bottom {
  background-color: black;
  width: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 100%;
  bottom: 0;
  /* border-top-left-radius: 100%; */
  border-top-left-radius: 100%;
}
