@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap&font-display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --breakpoint-sm: 23.4375rem; /* 375px */
  --breakpoint-custom-md: 35.75rem; /* 572px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */

  --color-dark_purple: #160430;
  --color-normal_purple: #240b48;
  --color-dark_shadow: #212121;
  --color-dark_pink: #35012c;
}

/* Change scrollbar background and thumb */
::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color you want */
    padding: 2px;

}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6); /* thumb color */
  border-radius: 10px;
}

/* Hide scrollbar by default, show on hover */
.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 5px;
}
.hide-chat-input-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}